.w-lightbox-close {
    height: 2.6em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii00IDAgMTggMTciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNyI+PGcgdHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48cGF0aCBkPSJtMCAwaDd2LTdoNXY3aDd2NWgtN3Y3aC01di03aC03eiIgb3BhY2l0eT0iLjQiLz48cGF0aCBkPSJtMSAxaDd2LTdoM3Y3aDd2M2gtN3Y3aC0zdi03aC03eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=");
    background-size: 18px;
    right: 0;
  }

  .w-lightbox-strip {
    white-space: nowrap;
    padding: 0 1vh;
    line-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .w-lightbox-item {
    width: 10vh;
    box-sizing: content-box;
    cursor: pointer;
    padding: 2vh 1vh;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 0);
  }

  .w-lightbox-active {
    opacity: .3;
  }

  .w-lightbox-thumbnail {
    height: 10vh;
    background: #222;
    position: relative;
    overflow: hidden;
  }

  .w-lightbox-thumbnail-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .w-lightbox-thumbnail .w-lightbox-tall {
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
  }

  .w-lightbox-thumbnail .w-lightbox-wide {
    height: 100%;
    left: 50%;
    transform: translate(-50%);
  }

  .w-lightbox-spinner {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, .4);
    border-radius: 50%;
    margin-top: -20px;
    margin-left: -20px;
    animation: .8s linear infinite spin;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .w-lightbox-spinner:after {
    content: "";
    border: 3px solid rgba(0, 0, 0, 0);
    border-bottom-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
  }

  .w-lightbox-hide {
    display: none;
  }

  .w-lightbox-noscroll {
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .w-lightbox-content {
      height: 96vh;
      margin-top: 2vh;
    }

    .w-lightbox-view, .w-lightbox-view:before {
      height: 96vh;
    }

    .w-lightbox-group, .w-lightbox-group .w-lightbox-view, .w-lightbox-group .w-lightbox-view:before {
      height: 84vh;
    }

    .w-lightbox-image {
      max-width: 96vw;
      max-height: 96vh;
    }

    .w-lightbox-group .w-lightbox-image {
      max-width: 82.3vw;
      max-height: 84vh;
    }

    .w-lightbox-left, .w-lightbox-right {
      opacity: .5;
      display: block;
    }

    .w-lightbox-close {
      opacity: .8;
    }

    .w-lightbox-control:hover {
      opacity: 1;
    }
  }

  .w-lightbox-inactive, .w-lightbox-inactive:hover {
    opacity: 0;
  }

  .w-richtext:before, .w-richtext:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }

  .w-richtext:after {
    clear: both;
  }

  .w-richtext[contenteditable="true"]:before, .w-richtext[contenteditable="true"]:after {
    white-space: initial;
  }

  .w-richtext ol, .w-richtext ul {
    overflow: hidden;
  }

  .w-richtext .w-richtext-figure-selected.w-richtext-figure-type-video div:after, .w-richtext .w-richtext-figure-selected[data-rt-type="video"] div:after, .w-richtext .w-richtext-figure-selected.w-richtext-figure-type-image div, .w-richtext .w-richtext-figure-selected[data-rt-type="image"] div {
    outline: 2px solid #2895f7;
  }

  .w-richtext figure.w-richtext-figure-type-video > div:after, .w-richtext figure[data-rt-type="video"] > div:after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .w-richtext figure {
    max-width: 60%;
    position: relative;
  }

  .w-richtext figure > div:before {
    cursor: default !important;
  }

  .w-richtext figure img {
    width: 100%;
  }

  .w-richtext figure figcaption.w-richtext-figcaption-placeholder {
    opacity: .6;
  }

  .w-richtext figure div {
    color: rgba(0, 0, 0, 0);
    font-size: 0;
  }

  .w-richtext figure.w-richtext-figure-type-image, .w-richtext figure[data-rt-type="image"] {
    display: table;
  }

  .w-richtext figure.w-richtext-figure-type-image > div, .w-richtext figure[data-rt-type="image"] > div {
    display: inline-block;
  }

  .w-richtext figure.w-richtext-figure-type-image > figcaption, .w-richtext figure[data-rt-type="image"] > figcaption {
    caption-side: bottom;
    display: table-caption;
  }

  .w-richtext figure.w-richtext-figure-type-video, .w-richtext figure[data-rt-type="video"] {
    width: 60%;
    height: 0;
  }

  .w-richtext figure.w-richtext-figure-type-video iframe, .w-richtext figure[data-rt-type="video"] iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .w-richtext figure.w-richtext-figure-type-video > div, .w-richtext figure[data-rt-type="video"] > div {
    width: 100%;
  }

  .w-richtext figure.w-richtext-align-center {
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }

  .w-richtext figure.w-richtext-align-center.w-richtext-figure-type-image > div, .w-richtext figure.w-richtext-align-center[data-rt-type="image"] > div {
    max-width: 100%;
  }

  .w-richtext figure.w-richtext-align-normal {
    clear: both;
  }

  .w-richtext figure.w-richtext-align-fullwidth {
    width: 100%;
    max-width: 100%;
    text-align: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .w-richtext figure.w-richtext-align-fullwidth > div {
    padding-bottom: inherit;
    display: inline-block;
  }

  .w-richtext figure.w-richtext-align-fullwidth > figcaption {
    display: block;
  }

  .w-richtext figure.w-richtext-align-floatleft {
    float: left;
    clear: none;
    margin-right: 15px;
  }

  .w-richtext figure.w-richtext-align-floatright {
    float: right;
    clear: none;
    margin-left: 15px;
  }

  .w-nav {
    z-index: 1000;
    background: #ddd;
    position: relative;
  }

  .w-nav:before, .w-nav:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }

  .w-nav:after {
    clear: both;
  }

  .w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
  }

  .w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  .w-nav-link.w--current {
    color: #0082f3;
  }

  .w-nav-menu {
    float: right;
    position: relative;
  }

  [data-nav-menu-open] {
    text-align: center;
    min-width: 200px;
    background: #c8c8c8;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: visible;
    display: block !important;
  }

  .w--nav-link-open {
    display: block;
    position: relative;
  }

  .w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .w-nav-overlay [data-nav-menu-open] {
    top: 0;
  }

  .w-nav[data-animation="over-left"] .w-nav-overlay {
    width: auto;
  }

  .w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    right: auto;
  }

  .w-nav[data-animation="over-right"] .w-nav-overlay {
    width: auto;
  }

  .w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    left: auto;
  }

  .w-nav-button {
    display: none;
    position: relative;
    z-index: 1000;
  }

  .w-nav-button:focus {
    outline: 0;
  }

  .w-nav-button.w--open {
    color: #fff;
    background-color: #c8c8c8;
  }

  .w-nav[data-collapse="all"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="all"] .w-nav-button, .w--nav-dropdown-open, .w--nav-dropdown-toggle-open {
    display: block;
  }

  .w--nav-dropdown-list-open {
    position: static;
  }

  @media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-menu {
      display: none;
    }

    .w-nav[data-collapse="medium"] .w-nav-button {
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    .w-nav[data-collapse="small"] .w-nav-menu {
      display: none;
    }

    .w-nav[data-collapse="small"] .w-nav-button {
      display: block;
    }

    .w-nav-brand {
      padding-left: 10px;
    }
  }
