/* About Page Specific Styles */

.team_component {
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    grid-template-columns: .5fr 1.5fr;
}

.team_image-wrapper { overflow: hidden; border-radius: 1rem; margin-bottom: 1.5rem; }
.team_image { width: 100%; object-fit: cover; transition: all .4s; }
.team_image:hover { transform: scale(1.1); }
.team_person-wrapper { grid-column-gap: 2rem; grid-row-gap: 4rem; grid-template-columns: 1fr 1fr 1fr; }

.bio-container { transform: translateY(100%); position: fixed; width: 100%; bottom: 0; z-index: 10; }
.bio-wrapper { width: 100%; max-width: 80rem; padding: 5rem; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); background-color: var(--transparent-light-blue-90); border-top-left-radius: 5rem; border-top-right-radius: 5rem; }

@media screen and (max-width: 991px) {
    .team_person-wrapper { grid-template-columns: 1fr 1fr; }
}

@media screen and (max-width: 767px) {
    .team_component { grid-template-columns: 1.5fr; }
}