/* Mobile Menu Fix */
@media screen and (max-width: 991px) {
  .nav_menu-wrapper {
    display: none;
  }

  .nav_menu.is-open {
    display: flex;
  }

  .nav_mobile-toggle {
    display: inline-flex !important;
  }

  .nav_left-wrapper {
    width: 100%;
  }

  .nav_link-wrapper {
    width: 100%;
  }

  .nav_menu .dropdown-container {
    position: static;
    display: none; /* Initially hidden */
    flex-direction: column;
    box-shadow: none;
    padding: 0;
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    border-top: 1px solid rgba(255,255,255,0.15);
    width: 100%;
    background-color: transparent;
  }

  .dropdown:hover .dropdown-container {
    display: none; /* Disable hover on mobile */
  }

  .nav_link-wrapper.dropdown.is-open .dropdown-container {
    display: flex; /* Show on click */
  }

  .nav_link.is-for-dropdown {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .dropdown-container-mobile {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .dropdown-mobile.is-open .dropdown-container-mobile {
    height: auto;
  }
}

/* Hide toggle on desktop */
@media screen and (min-width: 992px) {
    .nav_menu-button {
        display: none !important;
    }
}
